/*
	General styles
*/
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #FFFFFF;
    /*font-size: 13px;*/
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body, html {
    height: 100%;
    width:100%;
    margin:0px !important;
}

h2 {
    font-size: 20px;
}
a, a:visited {
    text-decoration: none;
    color: #2e639e;
}
a:hover {
    text-decoration: underline;
}


.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}



h1 {
    font-weight:700;
    font-size: 40px;
}


header{
    width: 100%;
    position: fixed;
    top: 0;
    left:0;
    height: 60px;
    z-index: 10000;
    background-color: white;
}

header .logo img{
    width: 220px;
    height: 52px;
    margin: 10px 0 0 25px;

}



/* new css */

.body-content{
    padding: 60px 32px 20px 32px;
    color: #000 !important;
    line-height: 1.4;
}

.txt_center{
    text-align: center;
}

.content {
    max-height: 20px;
    padding: 50px 20px 0;
    border-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 0.5em;
    position: relative;
}
.content:before, .content:after {
    content: "";
    width: 0;
    height: 0;
    border: solid transparent;
    position: absolute;
    pointer-events: none;
    right: 100%;
}
.content:before {
    border-right-color: inherit;
    border-width: 20px;
    top: 50%;
    margin-top: -20px;
}
.content:after {
    /*border-right-color: #c52128;*/
    border-width: 17px;
    top: 50%;
    margin-top: -17px;
}
.content p {
    max-height: 0;
    color: transparent;
    text-align: justify;
    word-break: break-word;
    hyphens: auto;
    overflow: hidden;
}

label {
    font-size: 1.3em;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    top: 20px;
    transition: transform 0.2s linear;
}


*, *:before, *:after{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.total_body{
    padding-top: 70px;
    color: #000000;
    line-height: 1.4;
}

.app_status{
    margin-top: 20px;
    position: relative;
    height: 150px;
    width: 150px;
    border: 3px solid #4BE22A;
    border-radius: 150px;
    margin: 0 auto;
}

.status_top{
    margin-top: 62px;
}

.status{
    margin: 23px 0 30px 50% !important;
    padding-left: 30px;
    font-weight: 600;
    border-left: 4px solid #4BE22A;
}

.status_date{
    left: 38%;
    position: absolute;
    margin-top: 10px;
}

.circle{
    height: 10px;
    width: 10px;
    border-radius: 100px;
    border: 6px solid #E1EDDE;
    margin-left: -4px;
    left: 50%;
    position: absolute;
    margin-top: 15px;
}

.status_content{
    margin-right: 150px;
    border-radius: 3px;
}

.status_heading{
    background-color: #333333;
    padding: 3px 0px 3px 5px;
    color: #fff;
}

.status_text{
    padding: 5px;
    background-color: #ffffff;
    color: #333333;
}

.each_status{
    margin-bottom: 50px;
}

.no_issue{
    height: 25px;
}

@media only screen and (max-width: 736px) {
    .logo{ text-align: center; }
    header .logo img{margin:10px 0 0 0;}

    .total_body{
        padding-top: 12%;
    }
    .status_date{
        left: 55px;
    }

    .circle{
        left: 39%;
    }

    .status_content {
        margin-right: 35px;
    }

    .app_status{
        margin-left: 27%;
        font-size: 20px;
        font-weight: 600;
    }

    .status_top{
        margin-top: 56px;
    }
    .status{
        font-size: 24px;
        margin: 25px 0 30px 39% !important;
    }
}

