<section class="bg-primary" id="about">

    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About App</h2>
                <hr class="light">
                <p class="text-faded">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eleifend augue quis est dapibus, quis tincidunt est ullamcorper. Sed lobortis ante orci, at pellentesque magna mollis sed. Mauris eleifend nisi eget tortor pellentesque, eget dignissim diam pulvinar. Integer efficitur sagittis sem ac faucibus. In vel nibh viverra augue elementum auctor. Mauris quis augue lectus. Cras feugiat purus non diam commodo, vitae hendrerit quam viverra. Aenean cursus ligula sit amet fringilla consequat. Donec semper laoreet blandit. Nunc vehicula mauris sit amet nulla pharetra lacinia. Mauris feugiat ullamcorper metus bibendum molestie. Nulla facilisi.</p>

            </div>
        </div>
    </div>
</section>