<section class="bg-primary" id="about">

    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="light">
                <div style="font-size: 22px"> Ask. &nbsp;  Assist. &nbsp; Attain. </div><br>
                <p class="text-faded">SamePinch is created by idealists who believe in new era of social networking where people(dots, we say) connect with like minded people via common interests.
                    <br>
                    Imagine a virtual wall where you can post anything you like (even as anonymous) and community is watching, learning and commenting.
                </p>

            </div>
        </div>
    </div>
</section>