<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="">
    <meta name="keywords" content="{{site.keywords}}">
    <meta http-equiv="Cache-control" content="public">
    <meta http-equiv="Cache-control" content="max-age=31536000" >
    <link rel="icon" href="{{ site.baseurl }}/img/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="{{ '/css/google-families/open_sans.min.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/google-families/Merriweather.min.css' | prepend: site.baseurl }}">

    <link href='font-awesome/css/font-awesome.min.css' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ '/css/google-families/ubuntu_300_400.min.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/google-families/Josefin_Sans.min.css' | prepend: site.baseurl }}">

    <link rel="stylesheet" href="style.css">

    {% if site.favicon %}<link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">{% endif %}
    {% if site.touch_icon %}<link rel="apple-touch-icon" href="{{ site.touch_icon }}">{% endif %}

    <script  src="{{ '/js/google_analytics.js' | prepend: site.baseurl }}"></script>
</head>


