<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div class="col-md-8 mtop140">
                <p class="maintitle1 light-font">Same Pinch</p>
                <p class="maintitle2 light-font">connecting dots on a common interest</p>
                <br>
                <div class="light-font"><h4>Coming Soon....</h4></div>
                <br>
                <div><img src="img/downloadappstore.png" width="194" height="59" alt=""/>&nbsp;  &nbsp;    <img src="img/android-logo.png" width="194"  alt=""/>   </div>
            </div>
            <div class="col-md-4 mtop90">
                <div id="news-container">
                    <ul class="dynamic_scrol">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>