<section id="howitworks" class="bg-primary">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>How It Works?</h2>

            <div class="col-md-4">
                <h3>Step 1</h3>
                <div class="clearfix"><img src="img/step 1.png" width="300" class="img-responsive" height="" alt=""/></div>
            </div>


            <div class="col-md-4"><h3>Step 2</h3><div class="clearfix"><img src="img/step 2.png" width="300" class="img-responsive" height="" alt=""/></div></div>
            <div class="col-md-4"><h3>Step 3</h3><div class="clearfix"><img src="img/step 3.png" width="300" class="img-responsive" height="" alt=""/></div></div>
        </div>
    </div>
</section>